/* General */
.navbar {
	background-color: #d9d9d9;
	font-family: 'Roboto', sans-serif;
}
.row {
	background-color: #e6e6e6;
	height: 100%;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

/* Home page */

#topLinks {
	color: black;
	text-align: center;
}
#topLinks a {
	color: black;
}
#topLinks a:hover {
	text-decoration: none;
}

/* Main grid */
.col-container {
	margin: auto;
	text-align: center;
}

/* Box styling */
.tableBox {
	position: relative;
	color: rgba(255, 255, 255, 0);
	float: left;
	padding: 0px;
	transition-duration: 0.5s;
	filter: grayscale(100%);
	width: 100%;
}
.boxImg {
	margin: 5px;
	border-radius: 4px;
	background-color: darkgray;
}
.tableBox img {
	width: 100%;
	border-radius: 4px;
}
.tableBox p {
	text-align: left;
	font-size: 1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1rem;
	margin: 0px;
}
.tableBox:hover { /* Hover adjustments for box's */
	color: rgba(255, 255, 255, 1);
	filter: grayscale(0%);
}
.boxColor { /* For blank box's */
	height: 222.5px;
}

/* 404 page */
#404Button {
	padding: 15px 32px;
	display: inline-block;
	font-size: 1rem;
	border: none;
	background-color: red;
}