{% extends "base.html" %}
{% block main %}
<p id="demo">yeet</p>
<div id="content">
	<div class="container">
		<div class="row">
			<div class="col-12" id="HomeSection">
				<br>
				<p id="topLinks"><a href="westminster_street">Westminster Street</a> • <a href="westport">Westport</a> • <a href="">house 3</a></p>
				<div class="col-container">
					<a href="westminster_street">
						<div class="tableBox col-sm-6 col-md-3">
							<div id="boxImg">
								<img src="static/img/placeholder.jfif"/>
							</div>
							<p>Westminster Street</p>
						</div>
					</a>
					<a href="westminster_street">
						<div class="tableBox col-sm-6 col-md-3">
							<div id="boxImg">
								<img src="static/img/placeholder.jfif"/>
							</div>
							<p>Westminster Street</p>
						</div>
					</a>
					<a href="">
						<div class="tableBox col-sm-6 col-md-3">
							<div id="boxImg" style="background-color: darkgray;">
								<img src=""/>
							</div>
							<p></p>
						</div>
					</a>
					<a href="westminster_street">
						<div class="tableBox col-sm-6 col-md-3">
							<div id="boxImg">
								<img src="static/img/placeholder.jfif"/>
							</div>
							<p>Westminster Street</p>
						</div>
					</a>
					<h1> testing JS </h1>
					<a href="westminster_street" class="cardLink">
						<div class="tableBox col-sm-6 col-md-3">
							<div id="boxImg">
								<img src="" class="cardImg"/>
							</div>
							<p class="cardText">Westminster Street</p>
						</div>
					</a>
					<a href="westminster_street" class="cardLink">
						<div class="tableBox col-sm-6 col-md-3">
							<div id="boxImg">
								<img src="" class="cardImg"/>
							</div>
							<p class="cardText">Westminster Street</p>
						</div>
					</a>
					<a href="westminster_street" class="cardLink">
						<div class="tableBox col-sm-6 col-md-3">
							<div id="boxImg">
								<img src="" class="cardImg"/>
							</div>
							<p class="cardText">Westminster Street</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var items = document.getElementsByClassName("cardImg");
document.getElementById("demo").innerHTML = items.length;
for (var i=0; i < items.length; i++) {
	items[i].src = "static/img/placeholder.jfif";
}
</script>
{% endblock %}