{% extends "base.html" %}
{% block main %}
<div id="content">
	<div class="container">
		<div class="row">
			<div class="col-12" id="HomeSection">
				<table>
					<tr>
						<td>
							<div class="tableBox">
								<img src="static/img/placeholder.jfif" width="250px" height="250px"/>
								<p>Westminster Street</p>
							</div>
						</td>
						<td>
							yeet
						</td>
						<td>
							yeet
						</td>
						<td>
							yeet
						</td>
					</tr>
					<tr>
						<td>
							yeet
						</td>
						<td>
							yeet
						</td>
						<td>
							yeet
						</td>
						<td>
							yeet
						</td>
					</tr>
					<tr>
						<td>
							yeet
						</td>
						<td>
							yeet
						</td>
						<td>
							yeet
						</td>
						<td>
							yeet
						</td>
					</tr>
					<tr>
						<td>
							yeet
						</td>
						<td>
							yeet
						</td>
						<td>
							yeet
						</td>
						<td>
							yeet
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}